[MOODLE30]
; moodle 3.0 database
adapter = pgsql
host = localhost
dbname = moodle30
port = 5432
username = moodle
password = ''

[MOODLE22]
; moodle 2.2 database
adapter = pgsql
host = localhost
dbname = moodle22
port = 5432
username = moodle
password = ''

